[Unit]
Description=ErsatzTV Service
After=network.target

[Service]
ExecStart=~/ersatztv/ErsatzTV
User=your_user
Restart=always

[Install]
WantedBy=multi-user.target
